snippet ember-const "Standard const for ember destructuring"
const {
  $0
} = Ember;
endsnippet
snippet ds-const "Standard const for ember-data destructuring"
const {
  Model,
  attr
} = DS;
endsnippet
