snippet ember-const "Standard const for ember destructuring"
const {
  $0
} = Ember;
endsnippet
snippet ds-const "Standard const for ember-data destructuring"
const {
  Model,
  attr
} = DS;
endsnippet

snippet react-stateless "Stub out a react stateless component"
import React from 'react';

const $0 = () => {

}

export default $0
endsnippet
